<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HM Test Suite">

<listeners>
   <listener class-name = "com.qa.ExtentReportListener.ExtentReporterNG"/>
   <listener class-name = "com.HMS.qa.AllureReportListener.AllureReporter"/>
</listeners>

  <test thread-count="5" name="HM Test Cases">
    <classes>
      <class name="com.HMS.qa.testcases.LoginPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
